@import "~bulma/bulma";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 80px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 20px;
  color: #fff;

  a:hover {
    color: #f0f0f0;
  }
}

.asset-preview {
  position: relative;

  .asset-footer {
    background-color: #f4f4f4;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.45s ease-in-out;
    opacity: 0;
  }

  &:hover .asset-footer {
    opacity: 1;
  }
}

.suggestion-wrapper {
    position: absolute;
    background: #fff;
    color: #333;
    top: 105%;
    left: 50%;
    width: 95%;
    max-height: 45vh;
    overflow: auto;
    transform: translatex(-50%);
    border-radius: 6px;
    box-shadow: 0 2px 4px 0px rgba(200, 200, 200, 0.45);

    div {
      padding: 10px;
      
      &:hover {
        background-color: #f4f4f4;
      }

      h5 {
        margin: 0 !important;
      }
    }
}